.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 0px 20px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
}

.waveInput {
  box-shadow: rgb(122 87 221 / 15%) 0px 0px 24px;
  border: 1px solid rgba(122, 87, 221, 0.25);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem;
  font-size: 1.025rem;
  line-height: 1.5rem;
  color: rgba(200, 199, 216, 1);
  border-radius: 0.75rem;
  background: inherit;
  font-family: inherit;
  position: relative;
  appearance: none;
  outline: none !important;
}

.waveInput:focus {
  box-shadow: rgb(255 255 255 / 15%) 0px 0px 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.waveInputCounterWrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  line-height: 0;
  margin: 0 0.5rem;
}

.waveButton {
  display: inline-block;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.75rem;
  height: 2.5rem;
  width: fit-content;
  font-size: 1.125rem;
  margin: 0 0.5rem 2rem 0.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background-color: rgba(105, 102, 253, 1);
  color: rgba(250, 250, 253, 1);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.waveButton:hover {
  transform: scale(1.1);
}

.waveButton:disabled,
waveButton[disabled] {
  color: rgb(200, 199, 216);
  background-color: rgb(35, 35, 52);
  transform: none !important;
}

.waveMessageContainer {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.waveMessage {
  box-shadow: rgb(255 255 255 / 15%) 0px 0px 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1.25rem 1.5rem;
  /* margin: 0.5rem; */
  font-size: 1.025rem;
  line-height: 1.5rem;
  color: rgba(200, 199, 216, 1);
  border-radius: 0.75rem;
  background: inherit;
  font-family: inherit;
  position: relative;
  appearance: none;
  outline: none !important;
  text-align: justify;
  overflow-wrap: break-word;
}

.waveMessageDate {
  margin-top: auto;
}
/* 
export const StyledButton = styled.button`
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  vertical-align: middle;
  line-height: 1;
  padding: 0 12px;
  white-space: nowrap;
  border: 1px solid ${({ theme }) => theme.bg2};
  border-radius: 20px;
  transition: all 0.1s;
  appearance: none;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  background-color: ${({ theme }) => theme.bg3};
  color: white;
  &:hover {
    background-color: ${({ theme }) => theme.green1};
  }
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
` */
